<nav class="menu__bar">
    <div class="navigation__logo">
        <a href="/">
            <!-- Use alias for assets -->
            <img src="/assets/film.svg" alt="Book My Corner Logo">
        </a>
    </div>
    <img class="menu-icon" src="assets/burger-menu.svg" title='Burger Menu' alt='Burger Menu'>
    <ul class="navigation navigation__link">
        <li><a href="/" class="navigation__link">Home</a></li>
        <!-- Correct movie page path -->
        <li><a href="/src/moviePage/" class="navigation__link">Movies</a></li>
        <li><a href="#features" class="navigation__link">features</a></li>
        <li><a href="#how-it-works" class="navigation__link">How it works</a></li>
        <li><a href="#testimonials" class="navigation__link">testimonials</a></li>
        <li><a href="#contact" class="navigation__link">Contact</a></li>
    </ul>

</nav>